<!DOCTYPE HTML>
<html>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
<body>
    <h1>hey guys</h1>
    <button hx-get="/send?num=1" hx-swap="outerHTML">0</button>
    <button hx-get="/make-game" hx-target="#game-table">get a game!</button>
    <div id="game-container">
        <div id="game-table"></div>
        <div id="message-box"></div>
    </div>
    <div>
        <form hx-get="/choose-thaler" hx-swap="none">
            <label for="x">X</label>
            <input type="text" name="x" id="x" required/>
            <label for="y">Y</label>
            <input type="text" name="y" id="y" required/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>
