body {
  font-family: 'Helvetica';
}

td {
  height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
}

.empty1 {
  background: #FFFFFF;
}

.empty2 {
  background: #F0F0F0;
}

.r-piece {
  background: #CE4A4A;
}

.o-piece {
  background: #FF901F;
}

.y-piece {
  background: #EAAF41;
}

.g-piece {
  background: #48A56A;
}

.b-piece {
  background: #6e8ec7;
}

.p-piece {
  background: #B25DA6;
}

.w-piece {
  background: #D5D5D5;
}

.t-piece {
  background: #535353;
  color: #FFFFFF;
}

#game-container {
  display: flex;
  width: 1000px;
  padding: 30px;
}

#game-container > #game-table {
  flex: 1;
}

#game-container > #message-box {
  flex: 3;
}

#message-box {
  line-height: 1.5;
  font-size: 14px;
  overflow: scroll;
  margin-left: 80px;
  padding: 10px;
}
